In [8]:
import warnings
warnings.filterwarnings('ignore')
import sys
import os
# Add project root to PYTHONPATH
sys.path.append(os.path.abspath(".."))
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer, KNNImputer, MissingIndicator
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder, MinMaxScaler, PowerTransformer, OrdinalEncoder
from sklearn.model_selection import train_test_split
from src.dataset import DatasetProcessor

In [9]:
df = pd.read_csv('/home/chetanpatil/Downloads/Food_Delivery_Time_Pred/data/raw/Food_Delivery_Data.csv')

In [10]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [11]:
proc = DatasetProcessor(seed=42)
df_clean = proc.fit_transform(df)

2025-11-25 12:43:51,264 INFO - Fitting DatasetProcessor on training data...
2025-11-25 12:43:52,760 INFO - Fitted iterative imputer on numeric columns: ['Delivery_person_Age', 'Delivery_person_Ratings', 'multiple_deliveries']
2025-11-25 12:43:52,885 INFO - Fitted iterative imputer on coordinate columns: ['Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude']
2025-11-25 12:43:52,904 INFO - Learned categorical distribution for City: 3 values
2025-11-25 12:43:52,920 INFO - Learned categorical distribution for Weatherconditions: 6 values
2025-11-25 12:43:52,941 INFO - Learned categorical distribution for Road_traffic_density: 4 values
2025-11-25 12:43:52,968 INFO - Learned categorical distribution for Festival: 2 values
2025-11-25 12:43:52,995 INFO - Learned categorical distribution for Type_of_order: 4 values
2025-11-25 12:43:53,023 INFO - Learned categorical distribution for Type_of_vehicle: 4 values

In [12]:
df_clean.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Order_Time_Category
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:45:00,Sunny,High,2,Snack,Motorcycle,0.0,No,Urban,24,Morning
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:50:00,Stormy,Jam,2,Snack,Scooter,1.0,No,Metropolitian,33,Evening
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:45:00,Sandstorms,Low,0,Drinks,Motorcycle,1.0,No,Urban,26,Morning
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:10:00,Sunny,Medium,0,Buffet,Motorcycle,1.0,No,Metropolitian,21,Evening
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:45:00,Cloudy,High,1,Snack,Scooter,1.0,No,Metropolitian,30,Afternoon